<body>

  <form #formContact="ngForm">

      <div>
          <br>
          <label>
              Nombre:
          </label>
        
          <input type="text" [(ngModel)]="nombre">
      </div>
  
      <div>
          <br>
          <label class="form-label">
              Edad:
          </label>
         
          <input type="number" name="edad" [(ngModel)]="persona.edad">
      </div>
  
      <div> 
          <br>
          <label class="form-label">
              Sexo:
          </label>
          
          <select name="sexo" [(ngModel)]="persona.sexo">

              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="Helicoptero Apache" selected>Helicoptero Apache</option>

          </select>
      </div>
  
      <div>
          <br>
          <label class="form-label">
              Peso (kilogramos):
          </label>
          <input type="number" name="peso" [(ngModel)]="persona.peso" required #peso="ngModel">

          <div id="validacion" class="alert alert-danger" [hidden]="peso.valid || peso.pristine" mt-2 >
              Este campo es obligatorio
          </div>
      </div>
  
      <div>
          <br>
          <label class="form-label">
              Estatura (metros):
          </label>
          <input type="number" name="estatura" [(ngModel)]="persona.estatura" required #estatura="ngModel">

          <div id="validacion" class="alert alert-danger" [hidden]="estatura.valid || estatura.pristine" mt-2 >
              Este campo es obligatorio
          </div>
      </div>
  
      <br>
      <br>

      <div>
          <button type="submit" (click)="imc()" [disabled]="formContact.invalid">
              Calcular IMC
          </button>
          <br>
          <label id="imclabel">
              Tu IMC es: {{resultado}}
          </label>
      </div>
      

      <img id="imagen" src="https://i.pinimg.com/originals/e8/ad/89/e8ad8917f7bfd05cb80a13d46bfeedbf.gif" alt="holy moly">

  </form>
  
  <div id="imcimagen" >
      <label id="titulo">
          >> Calculadora IMC <<
      </label>
      <label id="titulo2">
          Por Andrey Rodríguez Ladino y Johan Motta Sánchez
      </label>
      <img id="imcimagen" src="https://static.tuasaude.com/media/article/me/dr/imc_15748_l.jpg" alt="holy moly">
      
  </div>


      <!-- Aquí utilizamos una pipe en formato json para ver los datos mientras 
           hacíamos pruebas 
      <br>
      {{persona | json}} -->

</body>


